<!-- Main navigation bar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Tango Press ERP</a>
      </div>
      <ul class="nav navbar-nav">
        <li id="home-navbar-button"><a href="/">Home</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Reports
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Report 1</a></li>
            <li><a href="#">Report 2</a></li>
          </ul>
        </li>
        <li id="jobs-navbar-button" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">Jobs
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="jobs/search">Search Jobs</a></li>
            <li><a href="jobs/create">New Job</a></li>
          </ul>
        </li>
        <li><a href="#">Parts</a></li>
        <li><a href="#">Customer Service</a></li>
        <li><a href="#">Inventory</a></li>
        <li id="hr-navbar-button" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">HR
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="employees/search">Search Employees</a></li>
            <li><a href="employees/create">New Employee</a></li>
            <li><a href="clockevents/search">Search Clock in/out</a></li>
          </ul>
        </li>
      </ul>
  </div>
</nav>